name: Publish Javascript SDK
on:
  push:
    branches:
      - main
    paths:
      - "javascript-sdk/**"

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v2

      - name: Test
        run: deno task test

      - name: Publish to JSR
        run: deno publish --config javascript-sdk/deno.json
